[submodule "Lib/YAML-CPP"]
	path = Lib/YAML-CPP
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "Lib/ZSTD"]
	path = Lib/ZSTD
	url = https://github.com/facebook/zstd.git
[submodule "Lib/Tegra-Swizzle"]
	path = Lib/Tegra-Swizzle
	url = https://github.com/nintenstudio/tegra_swizzle.git
[submodule "Lib/CTegra-Swizzle"]
	path = Lib/CTegra-Swizzle
	url = https://github.com/nintenstudio/CTegra-Swizzle.git
